.profile__add-btn{
    min-width: 150px;
    min-height: 50px;
    background-color: black;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
}
@media screen and (max-width: 767px){
    .profile__add-btn{
       width: 100%;
       margin: 0 auto;
       margin-top: 36px;     
    }
}