.elements{
    margin: 0 auto;
    margin-top: 51px;
    width: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px 20px;
}

@media screen and (max-width: 1023px){
    .elements{ 
        width: calc(100% - 25px * 2);
        grid-template-columns:  repeat(2, 1fr);     
    }
}

@media screen and (max-width: 767px){
    .elements{
        margin-top: 36px;
        width: calc(100% - 19px * 2);
        grid-template-columns:  1fr;
        gap: 20px;
    }
}