.popup__close-btn{
min-height: 40px;
min-width: 40px;
position: absolute;
right: -40px;
top: -40px;
background: rgba(0, 0, 0, 0);
border: none;
background-image: url(../../../images/CloseIcon.svg);
background-position: center;
}

@media screen and (max-width: 767px){
    .popup__close-btn{
        background-image: url(../../../images/CloseIcon320.svg);
        min-height: 26px;
        min-width: 26px;
        right: 5px;
    }
}