.popup__card-form{
    position: relative;
    background-color: white;
    margin-top: 195px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
@media screen and (max-width: 767px){
    .popup__card-form{
        margin-top: 123px;   
    }
}