.popup__container{
    /*margin: auto auto;*/
    min-width: 430px;
}
@media screen and (max-width: 767px){
    .popup__container{
        min-width: 282px;
        width: calc(100% - 19px * 2);   
    }
}